.toggle-dark-mode-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px !important;
    margin-right: 10px !important;
}

.toggle-dark-mode-container h2 {
    margin-right: 15px !important;
}

#toggle-dark-mode {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
    cursor: pointer;
}

#toggle-dark-mode:hover {
    opacity: 0.9;
}

.toggle-dark-mode-container .dark-mode {
    background-color: #333;
}

.toggle-dark-mode-container .light-mode {
    background-color: #ddd;
}
